html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.containerNavbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  background: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  padding: 3rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbarLeft {
  color: #69b3a2;
  width: 40%;
  margin-left: 120px;
}

.home {
  cursor: pointer;
}

.navbarRight {
  width: 60%;
  margin-left: 60px;
}

.navbarRight ul {
  list-style: none;
  display: flex;
}

.navbarRight ul li {
  margin-right: 90px;
  color: black;
  transition: color 0.2s;
  cursor: pointer;
}

.navbarRight ul li:hover {
  color: #69b3a2;
}

.list {
  display: flex;
  position: relative;
}

.list::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #69b3a2;
  bottom: -15px;
  transform: scale(0, 1);
  position: absolute;
}
.list:hover::after {
  transform: scale(1, 1);
}

.list.active,
.list:hover {
  color: #69b3a2;
}

/* content */
.contentWrapper {
  display: flex;
  flex-direction: column;
}

.containerContent {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 600px;
  padding: 2em 3em;
  margin-top: 70px;
  z-index: 2;
}

.nameStyle {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.75;
}

.line {
  width: 90px;
  height: 1px;
  border: none;
  background-color: #333;
  margin-top: 50px;
}

.listButton {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-right: 30px;
}

.listButton li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
  line-height: 40px;
  text-align: center;
}

.listButton li a:hover {
  background-color: orange;
}

.listSocial {
  margin-right: 0.5rem;
}

u {
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.descriptionProfile {
  text-align: center;
  margin-top: 50px;
}

.arrowDescription {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  animation: moveUpDown 1s infinite alternate;
}

.fa-arrow-circle-down {
  cursor: pointer;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.containerIntroduce {
  background-color: #f8f9fa;
  height: 500px;
  margin-top: 750px;
  padding: 80px;
  display: flex;
  flex-direction: row;
}

.imageProfile {
  margin-left: 160px;
}

.descProfile {
  margin-left: 100px;
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 60px;
  text-transform: uppercase;
}

.socialButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #69b3a2;
  border: 2px solid #69b3a2;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.socialButton:hover {
  background-color: #69b3a2;
  color: white;
}

.socialButton:active {
  background-color: white;
  color: #69b3a2;
  border-color: #69b3a2;
}

.experience {
  display: flex;
  flex-direction: row;
  padding: 60px;
  margin-top: 90px;
  text-align: center;
  width: 100%;
  line-height: 20px;
  gap: 80px;
  justify-content: center;
}

.lineExperience {
  width: 100%;
  height: 1px;
  background-color: #69b3a2;
}

.rounded {
  position: absolute;
  left: 38%;
  top: 195%;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #69b3a2;
}

.yearExperience {
  position: absolute;
  left: 37.5%;
  top: 197.5%;
  width: 15px;
  color: black 2px solid;
}

.roundedSecond {
  position: absolute;
  left: 64%;
  top: 195%;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #69b3a2;
}

.yearExperienceSecond {
  position: absolute;
  left: 63.5%;
  top: 197.5%;
  width: 15px;
  color: black 2px solid;
}

.roundedThird {
  position: absolute;
  left: 79%;
  top: 195%;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #69b3a2;
}

.yearExperienceThird {
  position: absolute;
  left: 78.5%;
  top: 197.5%;
  width: 15px;
  color: black 2px solid;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f8f9fa;
  height: 100%;
}

.namePortfolio {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: 10px;
}

.descPortfolio {
  font-size: 20px;
  font-style: italic;
  color: gray;
}

.menuPortfolio {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 60px;
  justify-content: center;
}

.portfolioButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #69b3a2;
  border: 2px solid #69b3a2;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.portfolioButton:hover {
  background-color: #69b3a2;
  color: white;
}

.portfolioButton:active {
  background-color: white;
  color: #69b3a2;
  border-color: #69b3a2;
}

.proyek {
  padding: 70px 120px 50px 160px;
}

.cardProyek {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.nameContact {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 10px;
}

.descContact {
  font-size: 20px;
  font-style: italic;
  color: gray;
  margin-right: 280px;
  margin-left: 280px;
}

.descContact a {
  color: #69b3a2;
  text-decoration: none;
}

.containerSocialMediaContact {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  column-gap: 250px;
  background-color: #f8f9fa;
  height: 60px;
  align-items: center;
  margin-top: 40px;
}

.nameFooter {
  margin-left: 180px;
}

.footerImg img {
  width: 40px;
  height: 40px;
}

.termsFooter {
  color: #69b3a2;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-style: italic;
}
